name: web-ext

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lint
        uses: kewisch/action-web-ext@v1
        with:
          cmd: lint

      - name: Build
        uses: kewisch/action-web-ext@v1
        with:
          cmd: build
          args: -o --overwrite-dest --artifacts-dir web-ext-artifacts

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: extension
          path: web-ext-artifacts/

